@import '@fontsource/fira-mono';
@import '@fontsource-variable/caveat';
@import '@fontsource-variable/roboto-slab';

:root {
	--font-body: 'Roboto-slab', Roboto, serif;
	--font-mono: 'Fira Mono', monospace;
	--font-heading: 'Caveat', cursive;
	--color-bg-0: #000;
	--color-bg-1: #1a80b5;
	--color-theme-1: #ff3131;
	--color-theme-2: #FFBa00;
	--color-theme-3: #258008;
	--color-text: white;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #000;
	background-size: 100vw 100vh;
	background-image: url('$lib/images/JBN-background.png');
	background-position: absolute;
}


h2,
p {
	font-weight: 400;
}


p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
